{% extends "base.html" %} {% block content %}

<div class="row my-5">
  {% for car in cars %}
  <div class="col-md-3 my-5">
    <div class="card shadow border-0 bg-light" style="width: 18rem">
      <img src="{{car.image.url}}" class="card-img-top" alt="{{car.name}}" />
      <div class="card-body">
        <h5 class="card-title">{{car.name}}</h5>
        <p class="card-text">{{car.details}}</p>
        <p class="card-text">{{car.brand}}</p>
        <p class="card-text">{{car.price}}</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
